/* колір основного тексту #212121; */
/* колір тексту параграфа #757575; */
/* білий колір тексту #FFFFFF; */
/* акцент #2196F3; */
/* фон хедера background: #FFFFFF; */
/* колір фона "блок герой" background: #2F303A; */
/* фон футера #2F303A; */

:root {
  --primary-text-color: #212121;
  --paragraph-color: #757575;
  --title-text-color: #212121;
  --hero-footer-background: #2f303a;
  --accent-color: #2196f3;
  /* --header-background: #ffffff; */
  --primary-white-color: #ffffff;
  --primary-background: #f5f5f5;
  --secondary-background: #f5f4fa;
}

/* візуальні контури для усіх елементів */
* {
  outline: 2px solid #b0c4de;
}

/* скидання відступів для елементів */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

/* параметри  контейнеру */
.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* прибираємо маркери списку */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 25px;
}
/* колір першої частини логотипу */
.accent {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* текст в хедері */
.site-nav {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;

  display: flex;
  padding-left: 93px;
}

/* прибираю крайню геометрію */
.site-nav li + li {
  margin-left: 50px;
}

/* поточна сторінка */
.nav-link.current {
  color: var(--accent-color);
}

/* колір тексту пошта та телефон в хедері*/
.address-text-header {
  color: var(--paragraph-color);
}

.site-nav.address {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 32px;
}

/* параметри усіх секцій */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section .container {
  width: 1600px;
  padding-left: 452px;
  padding-right: 452px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* розмір блоку "Герой" */
.hero-section .section {
  width: 1600px;
}

/* текст в герої */
.hero-text {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

/* кнопка "замовити послугу" */
.action-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;

  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  border-radius: 4px;
  border: 0;
  min-width: 216px;
}

.action-button:hover,
.action-button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* .features,
.our-projects-section {
  background-color: var(--primary-background);
} */

/* розмір секції "особливості"
.features .sections {
  width: 1170px;
} */

/* flex для секції "особливості" */
.features-list {
  display: flex;
}

/* заголовки в секції "особливості" */
.features-heading {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;

  /* width: 270px; */
  margin-bottom: 10px;
}
/* текст в параграфі "особливості" */
.features-paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;

  /* width: 270px; */
}

/* розмір секції "чим ми займаємося"
.what-we-do .section {
  width: 1170px;
} */

/* flex для секції "чим ми займаємося" */
.what-we-do-list {
  display: flex;
}

/* заголовки "чим ми займаємося" */
.what-we-do-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  /* min-width: 366px; */
  margin-bottom: 50px;
}

/* розмір секції "наша команда" */
/* .our-team .section {
  width: 1170px;
} */

.our-team {
  background-color: var(--secondary-background);
}

/* flex для секції "наша команда" */
.our-team-list {
  display: flex;
}

/* заголовки "наша команда" */

.our-team-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  min-width: 264px;
  /* margin-bottom: 30px; */
}

/* ім'я та прізвища співробітників */
.worker-name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  min-width: 129px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* текст опису посади співробітника */
.worker-paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* приховуємо заголовок "наші проекти" */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* робимо flex для кнопок фільтра */
.filter-list {
  display: flex;
}

/* кнопки фильтра */
.filter-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* flex для секціх "наші проекти" */
.our-projects-list {
  display: flex;
}

/* заголовки в секції "наші проекти" */
.our-projects {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  
  margin-top: 20px;
  margin-bottom: 4px;
}

/* текст в параграфах "наші проекти"*/
.our-projects-paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo .studio-white {
  display: block;
}

/* колір адреси (посилання на мапу) в футері*/
.map-link-color {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* колір тексту пошта та телефон  в футері*/
.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.map-link-color:hover,
.map-link-color:focus {
  color: #2196f3;
}

.map-link-color {
  display: block;
  margin-top: 20px;
}

/* .nav-link .address-footer {
  display: block;
  margin-top: 9px;
} */

/* колір фону в героя та футера */
.hero-section,
.footer-background {
  background-color: var(--hero-footer-background);
}

/* "studio" білим кольором в футері */
.studio-white {
  color: var(--primary-white-color);
}
